#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  padding-top: 20;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  background-image: url('src/assets/lm2rodass.png'); /* Substitua pelo caminho correto da sua imagem */
  background-size: contain; /* Para ajustar a imagem ao tamanho da tela */
  background-repeat: no-repeat; /* Para evitar a repetição da imagem */
  
}
/* Adicione estas classes ao seu arquivo de estilo CSS */
.button-container {
  display: flex; /* Isso fará com que os elementos filhos (botões) fiquem lado a lado */
  justify-content: space-between; /* Espaço igual entre os botões */
  align-items: center; /* Alinhar verticalmente ao centro, se necessário */
}

/* Estilos para o componente ErrosDeSeparacao */

/* Estilizando o título principal */
h1 {
  font-size: 24px;
  color: #ffff;
  margin-bottom: 20px;
}

/* Estilizando o botão de ação */
button {
  background-color: #007bff;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilizando a lista de erros */
ul {
  font-size: 20px;
  color: #ffff;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

/* Estilizando cada item da lista de erros */
li {
  
  margin-bottom: 10px;
}

/* Estilizando os totais */
strong {
  font-size: 28px;
  color: #ffff;
  margin-top: 10px;
  display: block;
}

/* Estilizando o subtítulo "Lista de Erros de Separação" */
h2 {
  font-size: 20px;
  color: #ffff;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Estilizando o subtítulo "Total de Erros por Ano" */
h2:last-child {
  
  margin-top: 40px;
}


